{% extends "basic.html" %}

{% block include %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<!-- Easy-Button
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script> -->

{% endblock %}

{% block content %}

<header>
  <h1 style="text-align: center;">Map of nearby plants</h1>
</header>

<section>

  <!-- Map -->
  <div id="mapid" style="min-height:400px; width: 100vh;"></div>

</section>

<!-- Map -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}
